{
	"env": {
		"test": {
			"plugins": [
				"istanbul"
			]
		}
	},
	"presets": [
		[
			"@babel/preset-env"
		]
	],
	"plugins": [
		[
			"@babel/plugin-transform-runtime",
			{
				"corejs": 2,
				"helpers": true,
				"regenerator": true,
				"useESModules": false
			}
		]
	],
	"sourceMaps": true
}
